<nav
  class="bg-[var(--footer-bg)] border-b border-gray/10 fixed top-0 w-full z-50"
  x-data="{ isOpen: false }"
>
  <div class="max-w-[1500px] mx-auto px-4">
    <div class="flex justify-between h-16">
      <div class="flex">
        <!-- Logo -->
        <a
          class="francois-one text-white hover:text-white flex items-center text-2xl font-bold"
          href="/"
        >
          enoki
          <img
            src="/img/enoki_logo.svg"
            style="margin-bottom: 8px"
            alt="Enoki logo"
            class="h-6 w-6 ml-2 svg-white-filter"
          />
        </a>
      </div>

      <!-- Mobile menu button -->
      <div class="flex items-center -mr-2 lg:hidden">
        <button
          @click="isOpen = !isOpen"
          class="inline-flex items-center justify-center p-2 rounded-md text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            x-show="!isOpen"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            ></path>
          </svg>
          <svg
            class="h-6 w-6"
            x-show="isOpen"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>

      <!-- Desktop menu -->
      <div class="hidden text-white lg:flex lg:items-center lg:ml-6">
        <div class="flex text-white space-x-4 items-center">
          <a
            href="/#why"
            data-i18n="nav.why"
            class="text-white hover:text-[var(--accent-color-1-dark)] px-3 py-2 rounded-md text-sm border-transparent border font-medium hover:border-white"
            >Why</a
          >
          <!-- <a href="#approach" data-i18n="nav.approach"
                            class="text-white hover:text-[var(--accent-color-1-dark)] px-3 py-2 rounded-md text-sm border-transparent border font-medium hover:border-white">Approach</a> -->
          <a
            href="/#who"
            data-i18n="nav.who"
            class="text-white hover:text-[var(--accent-color-1-dark)] px-3 py-2 rounded-md text-sm border-transparent border font-medium hover:border-white"
            >Who</a
          >
          <a
            href="blog"
            class="text-white hover:text-[var(--accent-color-1-dark)] px-3 py-2 rounded-md text-sm border-transparent border font-medium hover:border-white"
            >Blog</a
          >
          <a
            href="/#contact"
            class="text-white hover:text-[var(--accent-color-1-dark)] px-3 py-2 rounded-md text-sm border-transparent border font-medium hover:border-white"
            >Contact</a
          >
          <div
            class="language-switcher flex items-center space-x-2 ml-4 border-l border-gray-300 pl-4"
          >
            <button
              id="lang-en"
              class="lang-btn px-2 py-1 rounded text-sm font-medium"
              data-lang="en"
            >
              EN
            </button>
            <span class="text-gray-400">/</span>
            <button
              id="lang-nl"
              class="lang-btn px-2 py-1 rounded text-sm font-medium"
              data-lang="nl"
            >
              NL
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu -->
    <div x-show="isOpen" class="lg:hidden">
      <div class="flex flex-col px-2 pt-2 pb-3 space-y-1">
        <a
          href="/#why"
          data-i18n="nav.why"
          @click="isOpen = !isOpen"
          class="text-white hover:text-[var(--accent-color-1-dark)] px-3 py-2 rounded-md text-sm border-transparent border font-medium"
          >Why</a
        >
        <!-- <a href="#approach" data-i18n="nav.approach" @click="isOpen = !isOpen"
                        class="px-3 py-2 rounded-md text-sm border-transparent border font-medium hover:border-gray-700">Approach</a> -->
        <a
          href="/#who"
          data-i18n="nav.who"
          @click="isOpen = !isOpen"
          class="text-white hover:text-[var(--accent-color-1-dark)] px-3 py-2 rounded-md text-sm border-transparent border font-medium"
          >Who</a
        >
        <a 
          href="blog"
          data-i18n="nav.blog"
          @click="isOpen = !isOpen"
          class="text-white hover:text-[var(--accent-color-1-dark)] px-3 py-2 rounded-md text-sm border-transparent border font-medium"
          >Blog</a
        >
        <a
          href="/#contact"
          @click="isOpen = !isOpen"
          class="text-white hover:text-[var(--accent-color-1-dark)] px-3 py-2 rounded-md text-sm border-transparent border font-medium"
          >Contact</a
        >
      </div>
    </div>
  </div>
</nav>
