---
layout: base.njk
title: "Blog"
headExtra: |
  <meta name="description" content="Blog list">
  <script type="module" src="/js/blog.js"></script>
---

<h1 class="text-3xl font-bold mb-6">Blog</h1>
<section id="blog-list" class="grid gap-6 grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <!-- Blog cards will be injected here -->
</section>

